form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
select{
	padding: 5px;
	border-radius: 2px;
	border:1px solid #ccc;
	width: 80%;
	margin-bottom: 10px;
	margin-top: 5px;
}




#form_contact{
	width: 50%;
	margin-top: 15px;
	font-family: Helvetica, Arial;
}


#form_contact label{
	display: block;
	width: 100%;
	margin-top: 5px;
}
